:root {
    --aquifer-light-1: #B6D9E7;
    --aquifer-light-2: #E4F1F6;
    --aquifer-light-3: #78A4B5;
    --aquifer-light-4: #CDF0FF;
    --aquifer-medium-1: #67AFCB;
    --aquifer-medium-2: #459DBF;
    --aquifer-medium-3: #3B8BAB;
    --aquifer-medium-4: #6B9BAE;
    --aquifer-medium-5: #2D6880;
    --aquifer-dark-1: #3782A0;
    --aquifer-dark-2: #347B98;
    --aquifer-dark-3: #0B3241;
    --aquifer-dark-4: #145266;
    --aquifer-text-dark-1: #1A3E4C;
    --aquifer-text-dark-2: #0B3241;
    --aquifer-text-dark-3: #1E2D50;
    --aquifer-text-light-1: #9DBDCC;
    --aquifer-text-light-2: #8fA6B5;
    --aquifer-text-light-3: #78A4B5;
}
