:root {
    --aquifer-light-1: #B6D9E7;
    --aquifer-light-2: #E4F1F6;
    --aquifer-light-3: #78A4B5;
    --aquifer-medium-1: #67AFCB;
    --aquifer-medium-2: #459DBF;
    --aquifer-medium-3: #3B8BAB;
    --aquifer-medium-4: #6B9BAE;
    --aquifer-dark-1: #3782A0;
    --aquifer-dark-2: #347B98;
    --aquifer-dark-3: #0B3241;
    --aquifer-text-dark-1: #1A3E4C;
    --aquifer-text-dark-2: #0B3241;
}